<%= link_to 'Home', root_path %>
<h1>Viewing Party</h1>
<% if current_user %>
  <%= link_to "Log Out", logout_path, method: :delete %>
<% else %>
  <%= link_to "Log In", login_path %>
  <%= link_to "Create an Account", new_user_path %>
<% end %>
<h2>Existing Users:</h2>
<ul>
  <% @users.each do |user| %>
    <% if current_user %>
      <li><%= link_to user.name, user_path(user.id) %></li>
    <% else %>
      <li>Please <%= link_to "log in", login_path %> to access user profiles.</li>
    <% end %>
  <% end %>
</ul>
