<h1>Viewing Party</h1>
<br>
<h2><%= "#{current_user.name}'s Dashboard" %></h2>
<br>
<div id="discover-movies">
  <%= button_to "Discover Movies", "/users/#{current_user.id}/discover", method: :get %>
</div>
<br>
<div id="viewing-parties">
  <h3>My Viewing Parties</h3>
  <% @hosted_parties.each do |party| %>
    <div>
      <% movie = MovieFacade.get_movie(party.movie_id) %>
      <% if movie.image %>
        <%= image_tag(movie.image) %>
      <% else %>
        <p>No image available</p>
      <% end %>
      <%= link_to movie.title, user_movie_path(party.movie_id) %>
      <p>Date: <%= "#{party.party_date}" %></p>
      <p>Time: <%= "#{party.party_time}" %></p>
      <p>Hosted by You</p>
      <p>Invited:
        <% party.users.each do |user| %>
          <%= user.name unless user == @user %>
        <% end %>
      </p>
    </div>
  <% end %>

  <h2>Parties You're Invited To</h2>
  <% @invited_parties.each do |party| %>
    <div>
      <% movie = MovieFacade.get_movie(party.movie_id) %>
      <% if movie.image %>
        <%= image_tag(movie.image) %>
      <% else %>
        <p>No image available</p>
      <% end %>
      <%= link_to movie.title, user_movie_path(party.movie_id) %>
      <p>Date: <%= "#{party.party_date}" %></p>
      <p>Time: <%= "#{party.party_time}" %></p>
      <p>Hosted by <%= User.find(party.host_id).name %></p>
      <p>Invited:
        <% party.users.each do |user| %>
          <% if user == @user %>
            <strong><%= user.name %></strong>
          <% else %>
            <%= user.name %>
          <% end %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
