<h1>Viewing Party</h1>
<br>
<h2>Discover Movies Page</h2>
  <div id="top-rated">
    <%= button_to 'Discover Top Rated Movies', movies_path, method: :get %>
  </div>

  <div id="search-movies">
      <%= form_with url: movies_path, method: :get do |f| %>
        <%= f.label :search, "Enter Movie Title:" %>
        <%= f.text_field :search %>
        <%= f.submit "Search" %>
      <% end %>
    </div>
  <br>





